.container {
    grid-area: bottom;

    background: var(--n800);
    border-top: 0px solid var(--n600);
    box-shadow: 0 -4px 0px 0px black;

    font-size: 0.75rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.625rem;
}

.container > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.version,
.message {
    color: var(--n400);
    user-select: none;
    transition: color 200ms ease;
    font-weight: 300;
}

.version::after {
    content: "|";
    padding: 0 0.6rem;
}

.credits {
    gap: 0.2rem;

    font-weight: 400;
    user-select: none;

    color: var(--n400);
}

.credits a,
.credits a:visited {
    font-weight: 600;
    cursor: pointer;
    transition: color 200ms ease;
    text-decoration: none;
    color: inherit;
}

.message:hover,
.credits a:hover  {
    color: var(--n100);
}