.container {
    width: 100%;
    min-height: 2rem;
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.75rem;
}

.container svg {
    max-height: 2rem;
}

.help {
    color: var(--n50);
}