.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;

    padding: 0.75rem 0;

    border-bottom: 1px solid var(--n900);
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.title,
.tooltip {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 10rem;
    
    color: var(--n100);
}

.tooltip {
    display: none;

    position: absolute;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
    width: auto;
    min-width: 16rem;
    max-width: 20rem;

    top: 0;
    left: 0;
    padding: 0.75rem;
    translate: calc(-0.75rem - 1px) calc(-0.75rem - 1px);

    background: var(--n700);
    border: 1px solid var(--n600);
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

    z-index: 5;
}

.text:hover .tooltip {
    display: block;
}

.description {
    font-size: 0.825rem;
    color: var(--n300);
}

.wire {
    position: absolute;
    width: 1.5px;
    height: 2.5rem;
    background: var(--n600);
    right: 2rem;
    bottom: 3.25rem;
}

.wire.wireHighlight {
    height: 2.75rem;
    background: linear-gradient(0deg, var(--n600) 0%, var(--a500) 100%);
}

.container input {
    width: 4rem;
    height: 2.5rem;
    z-index: 1;
    text-align: center;
}

.container input::placeholder {
    color: var(--n300);
}

.container input:focus::placeholder {
    color: transparent;
}

/* .predicted {

} */

.invalid {
    border-color: var(--bad700);
    outline: var(--bad700);
    color: var(--bad100);
}

.complete {
    background: var(--n700);
    border-color: var(--a300);
    color: var(--a300);
}

.complete:focus-within {
    background-color: var(--n900);
    color: var(--n50)
}

@media (max-width: 800px) {
    .text {
        flex-grow: 2;
        gap: 0.125rem;
    }

    .title,
    .tooltip {
        font-size: 0.875rem;
    }

    .title {
        width: 12rem;
    }

    .description {
        font-size: 0.75rem;
    }

    .container {
        padding: 0.5rem 0;
    }

    .container input {
        width: 4rem;
        height: 2rem;
        z-index: 1;
    }

    .wire {
        bottom: 2.5rem;
    }

    .wire.wireHighlight {
        height: calc(1.5rem - 1.5px);
    }

    .container:last-child {
        border-bottom: none;
    }

    .tooltip {
        width: auto;
        min-width: 16rem;
        max-width: 20rem;

        padding: 0.625rem;
        translate: calc(-0.625rem - 1px) calc(-0.625rem - 1px);
    }
    
}