.main {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-weight: 600;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "top"
    "main"
    "bottom";
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr) auto;
}

.error {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.error h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--n100);
}

.error p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--n300);
}

.error a {
  color: var(--a300);
  transition: color 200ms ease;
}

.error a:hover {
  color: var(--a100);
}

@media (max-width: 800px) {
  .main {
    height: 100dvh;
  }

  .main:has(input[type="text"]:focus-within) {
    height: 150vh;
    max-height: 150vh;
  }
}
