.body {
    width: 100%;
    height: 100%;
    min-height: 20rem;

    display: flex;
    flex-direction: column;
    user-select: none;

    --wamp-padding: 2rem;
}

.header {
    padding: var(--wamp-padding);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.375rem;
    letter-spacing: 0.3px;
    line-height: 130%;
    padding-bottom: 0.2rem;
}

.code {
    font-size: 1rem;
    font-weight: 600;
    color: var(--n400);
}

.header,
.assessmentContainer {
    border-bottom: 2px solid var(--n900);
}

.assessmentContainer {
    padding: var(--wamp-padding);
    gap: 1rem;
    flex-grow: 2;
}

.currentRate {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    padding: 0.625rem 0.5rem 0.5rem 1rem;
    border: 1.5px solid var(--a300);
    background: var(--n900);
    border-radius: 6px;

    color: var(--n200);
    font-size: 0.85rem;
}

.currentScore {
    border: 2px solid var(--a500);
    padding: 0.25rem 0.75rem;
    color: var(--a500);
    background: var(--a900);
    border-radius: 5px;
    box-shadow: 0 2px 0 var(--a700);
    translate: 0 -2px;
    font-size: 1rem;
}

.assessments {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    row-gap: 0;
    column-gap: 1.5rem;
    padding: 2rem 0;
}

.controls {
    padding: var(--wamp-padding);
}

.slider {
    padding: 0 0.5rem;
    padding-bottom: 2rem;
}

.scores {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;

    font-size: 0.8rem;
    color: var(--n400);
}

.scores > * {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.scores input {
    width: 4.5rem;
    height: 3rem;

    text-align: right;
    color: var(--a300);
    font-size: 2rem;
    font-weight: 700;
}

.scores span {
    max-width: 7rem;
    text-wrap: balance;
    text-align: right;
}

@media only screen and (max-width: 1200px) {
    .slider {
        padding: 0;
    }
}