.container {
    grid-area: main;

    background: var(--a100);
    box-shadow: inset 0 0 48px 4px rgba(0, 0, 0, 0.3);

    overflow: hidden;
}

.add {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 8rem;

    border-radius: 5px;
    border: 2px solid transparent;
    background: transparent;
    cursor: pointer;
    opacity: 0.3;
    color: var(--a700);
    font-family: inherit;

    transition: background 100ms ease, color 100ms ease, border-color 100ms ease;
}

.add svg {
    height: 4rem;
    width: 4rem;
}

.add h3 {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}

.add:hover {
    color: var(--a500);
    border-color: var(--a300);
    background: var(--n50);
}