.container {
    grid-area: main;

    background: var(--n950);
    box-shadow: inset 0 0 48px 4px rgba(0, 0, 0, 0.3);

    overflow: hidden;
}

.addContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px dashed transparent;

    transition: border-color 200ms ease;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    border-radius: 99999px;
    border: 4px solid var(--a500);
    background: transparent;
    cursor: pointer;
    color: var(--a500);
    font-family: inherit;

    transition: background 100ms ease, color 100ms ease, border-color 100ms ease;
}

.add svg {
    height: 3rem;
    width: 3rem;
}

@media (pointer: fine) {
    .add:hover {
        color: var(--a100);
        border-color: var(--a100);
        background: var(--a500);
    }

    .addContainer:hover {
        border-color: var(--n700);
    }
}


.addContainer {
    height: 100%;
    width: var(--wamp-width);
}

.swiper {
    height: 100%;
    padding: 0 0.5rem !important;
}




@media (max-width: 800px) {
    .addContainer {
        border-color: var(--n700);
    }

    .add:hover {
        color: var(--a500);
        border-color: var(--a500);
        background: transparent;
    }
}