@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --n50: #fdf8f2;
  --n100: #d3c6b9;
  --n200: #b8b3ac;
  --n300: #857f77;
  --n400: #6b6661;
  --n500: #4d4c4b;
  --n600: #3d3c3b;
  --n700: #2d2c2b;
  --n800: #282727;
  --n900: #242323;
  --n950: #1d1c1c;

  --a100: #f6b9d6;
  --a300: #ee599f;
  --a500: #d63f88;
  --a700: #ce2063;
  --a900: #87005a;

  --b100: #a5fbec;
  --b300: #00f2d1;
  --b500: #00dfb6;
  --b700: #00bc93;
  --b900: #008b62;

  --c100: #bcdfff;
  --c300: #65b7ff;
  --c500: #2499fe;
  --c700: #2178dc;
  --c900: #1c48aa;

  --bad100: #fecfd5;
  --bad300: #e4797b;
  --bad500: #f44c43;
  --bad700: #d33a3b;
  --bad900: #b82a29;

  --good100: #d7edca;
  --good300: #a2d585;
  --good500: #79c350;
  --good700: #579f3e;
  --good900: #226823;

  --border-colour: var(--n800);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: var(--n600) var(--n950);
}

body {
  background: var(--n950);
  color: var(--n50);
  font-family: 'Urbanist', sans-serif;
}

input {
  background: var(--n950);
  border: 1px solid var(--border-colour);
  
  max-width: 100%;
  color: var(--n50);
  border-radius: 4px;
  width: 60%;
  padding: 0.3rem 0.6rem;
  font-family: inherit;
  font-weight: 500;
}

::-moz-placeholder,
input::-webkit-input-placeholder,
::-webkit-input-placeholder,
::placeholder {
  color: var(--n300);
}

.fc {
  display: flex;
  flex-direction: column;
}

.pad {
  padding: 1.2rem;
}

.pad-2 {
  padding: 2rem;
}

.text-fix {
  padding-left: 2px !important;
}

.text-stronger {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.text-note {
  font-size: 0.91rem;
  font-weight: 400;
  color: var(--n400);
  line-height: 130%;
  letter-spacing: 0.2px;
}

.warning {
  color: var(--bad500);
  font-weight: 500;
}

.divider {
  width: 100%;
  height: 2px;
  background: var(--border-colour);
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  transition: background 200ms ease;
}

.logo {
  width: 8rem;
  padding-top: 0.5rem;
  color: var(--a300);
}

.logo svg {
  width: 100%;
}

.panel {
  border-radius: 5px;
  border: 1px solid var(--border-colour);
  background: var(--n900);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

  transition: all 200ms ease;
}

.panel:hover {
  background: var(--n800);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.panel:hover .divider {
  background: var(--n700);
}

.debug {
  background: #961d1d !important;
  border: 1px solid #a62929 !important;
}


*::-webkit-scrollbar {
  width: 0.3rem;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--n700);
  outline: 1px solid var(--n900);
  border-radius: 1px;
}


/* MUI slider */
.slider {
  color: var(--a500);
  height: 0.5rem;
  transition: all 200ms ease;
  overflow: visible;

  isolation: isolate;
}

.slider:hover {
  color: var(--a300);
}

.slider .MuiSlider-thumb {
  background: linear-gradient(180deg, var(--n50) 0%, var(--n200) 100%);
  border: none;
}

.slider .MuiSlider-thumb::after {
  content: '';
  background: var(--a500);
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
}

.slider .MuiSlider-mark {
  background: var(--n950);
  border-left: 1px solid var(--n700);
  width: 2px;
  border-radius: 0;
  height: 2rem;
  translate: 0 0.5rem;
  z-index: -1;
}

.slider .MuiSlider-markLabel {
  color: var(--n400);
  font-family: inherit;
  padding-top: 1rem;
}