:root {
  --n50: #FFFFFF;
  --n100: #d6cfcf;
  --n200: #857C7C;
  --n300: #6D6D6D;
  --n400: #515151;
  --n500: #484848;
  --n600: #404040;
  --n700: #302F2F;
  --n800: #2B2A2A;
  --n900: #242424;
  --n950: #1B1B1B;

  --a300: #EC2C88;
  --a500: #b12b6c;
  --a700: #58354A;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: white;
}

.debug {
  background: #961d1d;
  border: 1px solid #a62929;
}
