.main {
  width: 100%;
  height: 100%;

  font-weight: 600;
  letter-spacing: 0.2px;
  min-height: 100vh;

  display: grid;
  grid-template-areas: 
  "side main"
  "bottom bottom";
  grid-template-columns: 24rem 1fr;
  grid-template-rows: 1fr 2rem;
}

.sidebar {
  grid-area: side;
}

.content {
  grid-area: main;
}