.main {
  width: 100vw;
  height: 100vh;

  font-weight: 600;
  letter-spacing: 0.2px;

  display: grid;
  grid-template-areas: 
  "side main"
  "bottom bottom";
  grid-template-columns: 24rem 1fr;
  grid-template-rows: 1fr 2rem;
}


.content {
  grid-area: main;
}