.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container input {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--n200);
    min-height: 3rem;

    transition: color 150ms ease;
}

.container input::-webkit-input-placeholder {
    color: var(--n500);
}

.container input:placeholder-shown {
    font-size: 0.9rem;
    font-weight: 400;
}

.container input:focus {
    color: var(--n50);
}

.search, .search input {
    position: relative;
}

.search input:disabled {
    background: transparent;
    padding: 0 0 0 2px;
    border: none;
    min-height: fit-content;
}

.search__results {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 0.6rem;
    padding-top: calc(1.5rem + 0.6rem);
    background: var(--n700);
    z-index: 1;

    border: 1px solid var(--n600);
    border-radius: 8px;
    box-shadow: 0 6px 18px var(--n950);

    transition: max-height 200ms ease;
}

.search[data-focus="true"] input {
    z-index: 2;
}

.search[data-focus="true"] .search__results {
    display: flex;
}

.search__result {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;

    transition: all 100ms ease;
}

.search__result h3 {
    font-size: 1rem;
}

.search__result p {
    font-size: 0.9rem;
    font-weight: 400;
}

.search__result:hover {
    background: var(--n100);
    color: var(--n800);
}

.warning {
    padding-top: 0.5rem;
}

.subject_title {
    padding: 0.2rem 0;
    font-size: 1rem;

    text-transform: uppercase;
    color: var(--n400);
}

.assessments {
    gap: 0.5rem;
}

.assessments__tip {
    padding-bottom: 1.4rem;
}

.assessment__container {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    gap: 1.5rem;
    align-items: center;
    padding-top: 0.5rem;
    border-top: 1px solid var(--border-colour);
}

.assessment__container:nth-child(1) {
    padding-top: 0;
    border-top: none;
}

.assessment__container p {
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.3px;
    color: var(--n200);

    transition: color 200ms ease;
}

.assessment__container:hover p {
    color: var(--n50);
}

.assessment__container input {
    text-align: right;
    font-size: 1rem;
    min-height: 2rem;
}